{% extends 'base.html.twig' %}

{% block body %}
	<input type="text" id="prediccion" placeholder="tu predicción"/>
	para...
	<select id="jugadores" name="jugadores">
		{% for jugador in jugadores %}
			<option value="{{ jugador.id }}">
				{{ jugador.nombre }}
			</option>
		{% endfor %}
	</select>
	<button onclick="guardar()">Guardar</button>
{% endblock %}

{% block javascripts %}
	<script>
        function guardar() {
            let inputPrediccion = document.getElementById("prediccion");
            let texto = inputPrediccion.value;
			let jugador = document.getElementById("jugadores").value;
            let xmlhttp = new XMLHttpRequest();
            let url = "{{ path('bingo_add_prediction') }}";
			xmlhttp.open("POST", url);
			xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xmlhttp.send(JSON.stringify({"jugador": jugador, "prediccion": texto}));
			inputPrediccion.value = "";
        }
    
    
    </script>
{% endblock %}
