{% extends 'base.html.twig' %}

{% block body %}
	{% for jugador in predicciones %}
		<p>
			<strong>
				{{ jugador.jugador }}</strong>
		</p>
	{% for prediccion in jugador.predicciones %}
		<p>
				<input type="checkbox" {% if prediccion.check %}checked disabled{% endif %} onclick="check({{ prediccion.id }})"/>{{ prediccion.texto }}
		</p>

	{% endfor %}
	{% endfor %}

{% endblock %}



{% block javascripts %}
	<script>
        function check(id) {
            let xmlhttp = new XMLHttpRequest();
            let url = "{{ path('bingo_check_prediction') }}";
			xmlhttp.open("PUT", url);
			xmlhttp.send(id);
        }
    
    
    </script>
{% endblock %}